{% extends "base.html" %}
{% load static %}
{% load exercise_tags %}

{% block style %}

<link rel="stylesheet" href="{% static "exercises/css/texts_exe-styles/settings-page.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/scroller.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/checkbox.css" %}">

{% endblock style %}

{% block content %}

<form method="POST" class="form">
    {% csrf_token %}
    <div class="settings-container">
        <div class="option-selection">
            <div class="option-title">
                <p>Тексты</p>
            </div>
            {% get_texts as texts %}
            {% for text in texts %}
            <div class="option">
                <input id="text-option" type="checkbox" class="option-input" name="text" value="{{ text.name }}" onchange="chooseText(event)">
                <p class="option-name">{{ text.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="option-selection" id="hide-mode-scroller">
            <div class="option-title">
                <p>Режимы</p>
            </div>
            {% get_modes as modes %}
            {% for mode in modes %}
            <div class="option">
                <input id="mode-option" type="checkbox" class="option-input" name="mode" value="{{ mode.name }}" onchange="chooseMode(event)">
                <p class="option-name">{{ mode.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="start-button" type="submit">Старт</button>
</form>

<script src="{% static "exercises/js/texts/set_page.js" %}"></script>

{% endblock content %}