{% extends "base.html" %}
{% load static %}
{% load exercise_tags %}

{% block style %}

<link rel="stylesheet" href="{% static "exercises/css/fr/settings.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/scroller.css" %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock style %}

{% block content %}

<form method="POST" class="form">
    {% csrf_token %}
    <div class="setting-container">
        <div class="text-cont">
            <label class="text-label" id="text-label">Текст:</label>
            {% get_texts as texts %}
            <p id="text-selected" class="text-selected">{{ texts.0 }}</p>
            <button class="text-button" id="text-button" type="button" onclick="showTextOptions()"><i id="text-button-icon" class='bx bxs-down-arrow'></i></button>
            <div id="text-options" class="text-options">
                {% for text in texts %}
                <p class="option-label">{{ text.name }}</p>
                <input name="text" value="{{ text.name }}" class="text-option" type="checkbox" onchange="handleChange(this)">
                
                {% endfor %}
            </div>
        </div>

        <div class="time" id="time">
            <label class="time-label">Время чтения (с):</label>
            <div class="time-input-container">
                <button class="minus-button" type="button" onclick="minus()">-</button>
                <input name="timer" class="time-input" type="number" id="time-input" min="10" max="90" value="60" step="5" readonly>
                <button class="plus-button" type="button" onclick="plus()">+</button>
            </div>
        </div>
    
        <button class="start-button" id="start-button" type="submit">Старт</button>
    </div>
    
</form>
    
</form>

<script src="{% static "exercises/js/fr/settings.js" %}"></script>

{% endblock content %}