.data-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60%;
    margin: auto 10px;
}

.profile-picture {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture {
    border-radius: 20px;
    max-width: 100%;
}

.profile-data {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
}
.data-line {
    border-bottom: 2px solid rgba(45, 80, 144, 0.826);
    width: 100%;
}
.data-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
    padding: 5px 7px 5px 5px;
    /* border: 2px solid rgba(45, 80, 144, 0.826);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px; */
}
.data-body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    min-width: 100px;
    /* border: 2px solid rgba(45, 80, 144, 0.826); */
}

.manage-panel {
    display: flex;
    flex-direction: row;
    width: fit-content;
    column-gap: 10px;
    margin: 10px;
}

.manage-option {
    border: none;
    border-radius: 16px;

    background-color: white;
    color: black;

    padding: 10px 15px 10px 15px;
    width: 100%;
    height: fit-content;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;

    text-align: center;
    text-decoration: none;

    transition: background-color 0.3s;
}

.manage-option:hover {
    background-color: rgb(225, 225, 225);
}
.manage-option:active {
    background-color: rgb(171, 171, 171);
}