{% extends "base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static "exercises/css/shulte_exe-styles/executing-page.css" %}">

{% endblock style %}

{% block content %}
<input id="data" type="hidden" data-size="{{ data.size }}" data-first="first" data-second="second">
<p class="current-letter" id="current-letter"></p>
<div class="table" id="table">
    {% for item in data.unordered_array %}
    <div class="cell" onclick="shulteGame(event)">
        <p class="label">{{ item }}</p>
    </div>
    {% endfor %}
    {% for item in data.ordered_array %}
    <div class="hidden-cell">
        <p class="label">{{ item }}</p>
    </div>
    {% endfor %}
</div>
<div class="end-but-container">
    <a class="end-button" href="{% url "exercises:exercise-page" "shulte-table" %}">Завершить</a>
</div>

<script src="{% static "exercises/js/shulte/exe_page.js" %}"></script>

{% endblock content %}