{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "exercises/css/shulte_exe-styles/settings-page.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/input-range.css" %}">
{% endblock style %}

{% block content %}

<form method="POST" class="form">
    {% csrf_token %}
    <div class="setting-container">
        <div class="size-setting-container">
            <div class="lables">
                <p class="label">Размер таблицы:</p>
                <p id="tableSize" class="value">7x7</p>
            </div>
            <input id="inputSize" class="size-input" type="range" min="3" max="7" step="1" value="7" name="size" onchange="setType(event)">
        </div>

        <div class="option-selection">
            <div class="option-title">
                <p>Тип таблицы</p>
            </div>
            <div class="option">
                <input id="type-option" type="checkbox" class="option-input" name="type" value="Буквы" onchange="chooseType(event)">
                <p class="option-name">Буквы</p>
            </div>
            <div class="option">
                <input id="type-option" type="checkbox" class="option-input" name="type" value="Цифры" onchange="chooseType(event)">
                <p class="option-name">Цифры</p>
            </div>
        </div>
        <button class="start-button" type="submit">Старт</button>
    </div>
    
</form>

<script src="{% static "exercises/js/shulte/set_page.js" %}"></script>

{% endblock content %}