.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.image-container {
    border: 3px solid white;
    border-radius: 16px;

    width: fit-content;
    height: fit-content;
    justify-self: center;

    margin: 20px;
    
    transition: background-color 0.4s;
}
.image-container:hover {
    background-color: white;
    .image-label {
        color: black;
    }
}

.image {
    width: 100%;
    border-radius: 16px;
}

.image-label {
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 3px;

    transition: color 0.4s;
}