{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/executing-page-styles/texts.css' %}"/>
<link rel="stylesheet" href="{% static 'css/executing-page-styles/fr-attachement.css' %}"/>
{% endblock style %}

{% block content %}

<div class="grid-box">
    <div class="text-wrapper">
        {% autoescape off %}
        <div class="text">{{ text|linebreaks }}</div>
        {% endautoescape %}
    </div>

    <div>
        <div class="timer" id="timer">
            01:00
        </div>
        <!-- <button class="pause" onclick="pause()">Пауза</button> -->
        <form action="{% url "exercises:exercise-window" "skorochtenie" %}">
            <button class="end-button" type="submit" value="Завершить">Завершить</button>
        </form>
    </div>
</div>

<script>
    let timer;
    let ele = document.getElementById('timer');
    let sec = 60;
    function setTimer() {
        timer = setInterval(() => {
        if (sec < 10) {
            ele.innerHTML = '00:0' + sec;
        } else {
            ele.innerHTML = '00:' + sec;
        }
        sec--;
        if (sec === -1) {
            clearInterval(timer);
            ele.innerHTML = 'Время вышло!'
        }
        }, 1000)
    }
    setTimer()

    function showResults(words_count) {
        alert(`Было прочитано ${words_count} слов.`);
    }

    const words = document.querySelectorAll('.fr-word');
    words.forEach(word => word.addEventListener("click", function(event) {
        event.preventDefault();
        const count = word.id;
        showResults(count);
    }))

    // function pause() {
    //     state = document.getElementsByClassName("pause");
    //     if (state.innerHTML === "Пауза") {
    //         clearInterval(timer);
    //         state.innerHTML = "Продолжить";
    //     } else {
    //         setTimer();
    //         state.innerHTML = "Пауза";
    //     }
    // }
</script>

{% endblock content %}