{% extends "base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static "exercises/css/shulte/exe.css" %}">

{% endblock style %}

{% block content %}
<input id="data" type="hidden" data-size="{{ data.size }}" data-first="first" data-second="second">
<div class="label-container">
    <p class="current-letter" id="current-letter"></p>
    <p class="current-letter" id="time-passed"></p>
</div>
{% comment %} <div class="table-wrapper">
    
</div> {% endcomment %}
<div class="table" id="table">
    {% for item in data.unordered_array %}
    <div id="" class="cell" onclick="shulteGame(event)">
        <p class="label">{{ item }}</p>
    </div>
    {% endfor %}
    <div id="center" class="central-point"></div>
    {% for item in data.ordered_array %}
    <div class="hidden-cell">
        <p class="label">{{ item }}</p>
    </div>
    {% endfor %}
</div>
<div class="end-but-container">
    <a class="end-button" href="{% url "exercises:exercise-page" "shulte-table" %}">Завершить</a>
</div>

<script src="{% static "exercises/js/shulte/exe.js" %}"></script>

{% endblock content %}