{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "exercises/css/memo/settings.css" %}">
<link rel="stylesheet" href="{% static "css/system-styles/input-range.css" %}">
<link rel="stylesheet" href="{% static 'css/system-styles/scroller.css' %}">
{% endblock style %}

{% block content %}

<form method="POST" class="form">
    {% csrf_token %}
    <div class="form-content">
        <div class="setting-container">
            <div class="cards-count-setting-container">
                <div class="lables">
                    <p class="label noselect">Количество карточек:</p>
                    <p id="cardsCount" class="value noselect">12</p>
                </div>
                <input class="cards-input" type="range" min="8" max="20" step="2" value="12" name="items_count" onchange="setCardsCount(event)">
            </div>
            <div class="cards-count-setting-container">
                <div class="lables">
                    <p class="label noselect">Время подготовки:</p>
                    <p id="preparingTime" class="value noselect">5с</p>
                </div>
                <input class="cards-input" type="range" min="3" max="10" step="1" value="5" name="preparing_time" onchange="setPreparingTime(event)">
            </div>
        </div>
        <button class="start-button" type="submit">Старт</button>
    </div>
</form>

<script src="{% static "exercises/js/memo/set.js" %}"></script>

{% endblock content %}