.grid-box {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.text-wrapper {
    background-color: white;
    margin: 20px;
    margin-left: 40px;
    margin-right: 100px;
    padding: 30px;
    border-radius: 30px;
}

.text p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.end-button-wrapper {
    display: flex;
    margin: 0;
    margin-top: 22px;
    padding: 6px;
    background-color: white;
    height: 8%;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: rgb(17, 17, 91);
    border-style: solid;
    transition: background-color 0.3s;
}

.end-button {
    margin: 0;
    margin-top: 22px;
    padding: 7px;
    height: 9%;
    width: 80%;

    background-color: white;
    color: rgb(17, 17, 91);
    
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;

    border-radius: 16px;
    border: rgb(17, 17, 91);
    border-style: solid;
    transition: background-color 0.3s;
}

.end-button:hover {
    background-color: rgb(200, 200, 200);
}