.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.text-container {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border: none;
    border-radius: 16px;
}

.text-container p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    filter: blur(10px);
}

.interface-container {
    margin: 20px;
    height: 40%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.end-button {
    background-color: white;
    color: black;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 16px;
    align-self: start;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    transition: background-color 0.3s;
}

.end-button:hover {
    background-color: rgb(225, 225, 225);
}

.timer {
    background-color: white;
    color: black;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 16px;
    align-self: start;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.set-timer {
    background-color: white;
    color: black;

    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 16px;
    align-self: start;

    font-size: 20px;
    font-weight: 600;

    transition: background-color 0.3s;
}

.set-timer:hover {
    background-color: rgb(225, 225, 225);
}

.results {
    display: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    align-items: center;
    border: 2px solid rgba(45, 80, 144, 0.826);
    border-radius: 16px;
    padding: 10px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}
.results p {
    text-align: center;
    margin: 5px;
    filter: none;
}

.fr-word {
    cursor: pointer;
}

@media(max-width: 1000px) {
    .text-container {
        margin: 10px;
    }
    .interface-container {
        margin: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        grid-template-areas: 
            "timer end"
            "start stop";
    }
    .set-timer {
        height: 57px;
    }

    #timer {
        grid-area: timer;
    }
    #end-button {
        grid-area: end;
    }
    #stop-timer {
        grid-area: start;
    }
    #stop-timer-but {
        grid-area: stop;
    }

    .container {
        grid-template-columns: 100%;
    }
}
@media(max-width: 900px) {
    .text-container p {
        font-size: 25px;
    }
}
@media(max-width: 700px) {
    .text-container p {
        font-size: 23px;
    }
    .timer,
    .end-button,
    .set-timer {
        font-size: 17px;
    }
    .set-timer {
        max-height: 52px;
    }
}
@media(max-width: 550px) {
    .text-container p {
        font-size: 20px;
    }
    .timer,
    .end-button,
    .set-timer {
        font-size: 15px;
    }
    .set-timer {
        max-height: 50px;
    }
}
@media(max-width: 450px) {
    .text-container p {
        font-size: 18px;
    }
    .timer,
    .end-button,
    .set-timer {
        font-size: 13px;
    }
    .set-timer {
        max-height: 47px;
    }
}
@media(max-width: 396px) {
    .timer {
        font-size: 10px;
    }
}
@media(max-width: 360px) {
    .text-container p {
        font-size: 16px;
    }
}
@media(max-width: 340px) {
    .text-container p {
        font-size: 15px;
    }
    .timer {
        font-size: 13px;
    }
    .interface-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;

        grid-template-areas: 
            "timer"
            "start"
            "stop"
            "end";
    }
}
