.panels {
    display: grid;
    grid-template-areas: "exercise profile" "exercise settings";
    grid-template-columns: 55% auto;
    align-items: start;
}

.exercise-panel,
.profile-panel,
.settings-panel {
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}

.exercise-panel {
    grid-area: exercise;
    margin-right: 5px;
    display: flex;
    position: relative;
    background-size: cover;
}
.profile-panel {
    grid-area: profile;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.settings-panel {
    grid-area: settings;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.exercise-img {
    /* object-fit: cover;*/
    margin: auto;
    border-radius: 30px;
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.2s, opacity 0.2s;
}
.hover-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 20px 10px;
}
.text {
    font-size: 30px;
    font-weight: 600;
    color: white;
    user-select: none;
}

.exercise-panel:hover {
    .exercise-img {
        filter: grayscale(0);
        opacity: 0.8;
    }
    .hover-link {
        opacity: 1;
    }
}

.profile-img {
    object-fit: cover;
    border-radius: 30px;
    max-width: 100%;
    margin-left: 5px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}
.settings-text,
.profile-text {
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin-left: 40px;
    user-select: none;
}

.profile-panel:hover {
    .profile-img {
        filter: grayscale(0);
    }
}

@media(max-width: 400px) {
    .text {
        font-size: 20px;
        font-weight: 400;
    }
    .settings-text,
    .profile-text {
        font-size: 18px;
        font-weight: 400;
        margin-left: 20px;
    }
}