{% extends "base.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/user-styles/profile.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock style %}

{% block content %}

<div class="data-container">
    <div class="profile-picture">
        {% if user.image %}
        <img class="picture" src="{{ user.image.url }}">
        {% else %}
        {% comment %} <img class="picture" src="{{  }}"> {% endcomment %}
        {% endif %}
        
    </div>
    <div class="profile-data">
        <div class="data-header-container">
            <div class="data-line"><p class="data-header">Никнейм:</p></div>
            <div class="data-line"><p class="data-header">Имя:</p></div>
            <div class="data-line"><p class="data-header">Фамилия:</p></div>
            <p class="data-header">Электронная почта:</p>
        </div>
        <div class="data-body-container">
            <div class="data-line"><p class="data-body">{{ user.username }}</p></div>
            <div class="data-line"><p class="data-body">{{ user.first_name }}</p></div>
            <div class="data-line"><p class="data-body">{{ user.last_name }}</p></div>
            <p class="data-body">{{ user.email }}</p>
        </div>
    </div>
</div>
<div class="manage-panel">
    <form action="{% url "users:profile" %}" method="GET">
        <input type="hidden" name="logout" value="true">
        <button type="submit" class="manage-option">Выйти</button>
    </form>
    {% if user.is_superuser %}
        <a href="{% url "admin:index" %}" class="manage-option">Панель управления</a>
        <a href="{% url "users:useradd" %}" class="manage-option">Добавить пользователя</a>
    {% endif %}
</div>

{% endblock content %}